body {
    background-image: url(images_gifs_sounds/john_pork.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: center;
    background-color: black;
}

.container {
    position: fixed;
    bottom: 20px;            
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 100px;              
    align-items: center;
}

.container img {
    width: 200px;
    height: auto;
}