body {
    background-image: url("images_gifs_sounds/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
}